%h3 Quantitative test result

%p
  Your current ratio is
  %i= acumen_test.quantitative_result[:current_ratio]
%p
  Your debt ratio is
  %i= acumen_test.quantitative_result[:debt_ratio]
%p
  Your New worth is
  %i= acumen_test.quantitative_result[:net_worth]
%p
  Your Total assets is
  %i= acumen_test.quantitative_result[:total_assets]
%p
  Your New worth to income ratio is
  %i= acumen_test.quantitative_result[:net_worth_to_income_ratio]
