= form_for @test, :html=>{:submitted=>'no'} do |f|
	- t = @tests[:"t_#{question.id}"]
	- t = {:answer=>''} if t==nil
	= f.hidden_field :question_id, :value=>question.id
	= f.hidden_field :answer, :value=>t[:answer]
	= f.hidden_field :answer_sort, :value=>Question::ANSWER_TYPE[:"#{question.answer_type}"][:type]
	%span=question.question
	- answer_type_type = Question::ANSWER_TYPE[:"#{question.answer_type}"][:type]
	.test_options{:class=>"#{question.answer_type} #{answer_type_type}_type"}
		- Question::ANSWER_TYPE[:"#{question.answer_type}"][:answers].each do |a|
			- select_class = ((t[:answer]==a[:id])?"selected":"")
			%button{:id=>a[:id], :class=>"#{a[:class]} mo #{select_class}", :title=>raw(a[:sentence])}