= form_for @test, :html=>{:submitted=>'no'} do |f|
	- t = @tests[:"t_#{question.id}"]
	- t = {:answer=>''} if t==nil
	= f.hidden_field :question_id, :value=>question.id
	= f.hidden_field :answer, :value=>raw(t[:answer])
	= f.hidden_field :answer_sort, :value=>Question::ANSWER_TYPE[:"#{question.answer_type}"][:type]
	%span=question.question
	- answer_type_type = Question::ANSWER_TYPE[:"#{question.answer_type}"][:type]
	.test_options{:class=>"padd #{question.answer_type} #{answer_type_type}_type"}
		- tt = {}
		- t[:answer].lines.each do |t_line|
			- k,v = t_line.strip.gsub(/\r\n/,'').split(/\=\>/)
			- tt[:"#{k}"] = v
		- Question::ANSWER_TYPE[:"#{question.answer_type}"][:answers].each do |a|
			.row{:id=>"#{a[:id]}"}
				%span{:class=>"#{a[:class]}"}=raw(a[:sentence])
				%br
				- Question::ANSWER_TYPE[:"#{question.answer_type}"][:scores].each do |s|
					- select_class = (( tt[:"#{a[:id]}"]==s[:id] )?"selected":"")
					%button.group{:id=>s[:id], :class=>"#{select_class}"}=s[:sentence]
			.clear