= render :partial => 'user_about'
= render :partial => 'user_settings'
= render :partial => 'user_email'
= render :partial => 'user_accounts'
= render :partial => 'user_hidden_accounts'
= render :partial => 'user_delete_account'
