<menu>
  <ul>
    <li class="head">About us</li>
    <li><%= link_to "How it works", how_it_works_path %></li>
    <!-- <li><%#= link_to "What is Budget 24-7", '#' %></li> -->
    <li><%= link_to "Who we are", about_path %></li>
  </ul>

  <ul>
    <li class="head">Support</li>
    <!-- <li><%#= link_to "Help center", '#' %></li>
    <li><%#= link_to "Privacy & Terms", '#' %></li>
    <li><%#= link_to "Copyright", '#' %></li> -->
    <li><%= link_to "Contact us", contact_us_path %></li>
  </ul>

  <ul>
    <li class="head">Policies</li>
    <!-- <li><%#= link_to "Privacy Policy", '#' %></li>
    <li><%#= link_to "Security Policy", '#' %></li> -->
    <li><%= link_to "Terms of use", terms_of_use_path %></li>
  </ul>

  <ul>
    <li class="head">Community</li>
    <li><%= link_to "Blog", 'http://budget247.wordpress.com' %></li>
    <!-- <li><%#= link_to "Live surveys", '#' %></li>
    <li><%#= link_to "Competitions", '#' %></li>
    <li><%#= link_to "Events", '#' %></li>
    <li><%#= link_to "Videos", '#' %></li> -->
  </ul>

  <div class="content">
    <%= image_tag "logo_footer.png", :title => "Budget 24-7" %>

    <p>
      Plan your finances. Socially
    </p>

    <p class="copy">©2012 Budget 24-7, Inc.</p>
  </div>
</menu>
