<div class="field">
  <% for account in Account.find(:all) do %>
    <% if check_account_dedicated(account) %>
      <div class="available_accounts disabled">
        <%= check_box_tag "goal[account_ids][]", account.id, @goal.accounts.include?(account),
            { :id => "goal_account_ids_#{account.id}",
              :disabled => check_account_dedicated(account) } %>
        <%= account.name %> <small><em>(already dedicated)</em></small>
      </div>
    <% else %>
      <div class="available_accounts">
        <%= check_box_tag "goal[account_ids][]", account.id, @goal.accounts.include?(account),
            { :id => "goal_account_ids_#{account.id}" } %>
        <%= account.name %> <small>(available: <em><%= account.amount %></em>)</small>
      </div>
    <% end %>
  <% end %>
</div>
