!!!
%html
	%head
		%title= title
		%link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
		%link{:href => "/css/common.css", :rel => "stylesheet"}
		= stylesheet_link_tag "application"
		= javascript_include_tag "application"

		%script{:src=>"/js/common.js"}

		= render :partial => 'layouts/webreep'
		= render :partial => 'layouts/typekit'
		%meta{:content => "4_j70O_xIftPsQxnpuH4j4cNy87tO9iyEj_NUJpSadI", :name => "google-site-verification"}/
		= csrf_meta_tags
	%body
		#container.container_24
			= render :partial =>	'layouts/header'
			
			.clear

			= yield
