.block.right.tabbed.all.active
  %h4 All accounts

  .totals
    .cash
      = @income_amount
      %span Total cash, $
    .debt
      &ndash;
      = @spending_amount
      %span Total debt, $

  %table.transactions-table
    %thead
      %tr
        %th.date.sort= sortable "created_at", "Date"
        %th.description.sort= sortable "description"
        %th.category.sort= sortable "category"
        %th.amount.sort= sortable "amount"
        %th.edit
    %tbody
      - @transactions.each do |transaction|
        %tr.transaction.edited-item{ class: "item_#{transaction.id}" }
          %td.date
            =l transaction.created_at, format: :short
          %td.description= transaction.description
          %td.category= transaction.category
          %td.amount= transaction.amount
          %td.edit= link_to 'Edit', '#', class: 'edit'
        %tr.hidden
          %td{colspan: 4}
            = render partial: 'transaction_form', locals: { transaction: transaction, account: transaction.account }
